li {
  font-size: 30px;
  color: white;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  margin-top: 15px;


  a {
    color: black;
    text-decoration: none;
    transition: 0.5s;
    &:hover {
      color: #666666;
      font-size: 40px;
      transition: 0.5s;
    }
  }
}

ul {
  list-style-type: none;
  padding: 0;
}