header {
  padding: 15px;
  text-align: center;
  border: 4px solid black;
  background-color: lightgrey;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  box-shadow: 2px 2px grey;


  #title {
    margin: 0;
    font-family: 'Black Ops One', cursive;
    color: black;
    font-size: 65px;
  }

  img {
    width: 200px;
    height: 150px;
    border-radius: 100px;
    opacity: 0.85;
  }
}
